@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700;900&display=swap');

.App{
  font-family: 'Noto Sans KR', sans-serif;
  width: 100%;
}

.App::-webkit-scrollbar {
  display: none;
}

.loading{
  width: 100%;
  text-align: center;
  margin-left: -15px;
  padding: 10px;
}