@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700;900&display=swap');

.App{
  font-family: 'Noto Sans KR', sans-serif;
  width: 360px;
  height: 800px;
}

.App::-webkit-scrollbar {
  display: none;
}